/// {{ comment }}
class {{ name }} {
  {% if restriction_base != '' %}
  {{ restriction_base }} _value;

  {{ restriction_base }} get value => _value;

  set value({{ restriction_base }} value) {
    // add any necessary validation here
    _value = value;
  }

  {{ name }}(this._value);

  {% endif %}
}